{% extends 'base.html' %}

{% block body %}

    <div class="progress-title">Ваш прогресс импорта плейлистов</div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated"
           role="progressbar" style="width: {{ progress }}%"
           aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">
          {% if progress == 35 %}
            Авторизуйтесь в Я.Музыке
          {% elif progress == 70 %}
            Выберите плейлисты для импорта
          {% elif progress == 100 %}
            Процесс завершен.
          {% endif %}
      </div>
    </div>

    {% if progress == 100 %}
        <p>Мы сделали все, что могли! Проверьте свои плейлисты в Spotify.</p>

        {% if result.success %}
            <div class="success">
                <h5>Успешно импортированные плейлисты</h5>
                <ul>
                {% for list in result.success %}
                    <li>{{ list.name }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if result.failed %}
            <div class="failure">
                <h5>Плейлисты, которые не удалось импортировать</h5>
                <ul>
                {% for list in result.failed %}
                    <li>{{ list.name }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}

        <p><br><a href="{{ url_for('public.index') }}">На главную</a></p>
    {% else %}
        {% if lists %}
            <form method="POST" action="{{ url_for('public.import_pl') }}">
                {% include '_pl_buttons.html' %}
                <table class="table" id="data_table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Наименование</th>
                            <th>Кол-во треков</th>
                            <th>Аватар</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for list in lists %}
                            <tr>
                                <td>{{ list.kind }}</td>
                                <td>{{ list.title }}</td>
                                <td>{{ list.track_count }}</td>
                                <td>
                                    <div class="playlist-avatar">
                                        {% if list.cover.uri %}
                                            <img src="//{{ list.cover.uri|replace('%%', '100x100') }}" alt="">
                                        {% elif list.cover.items_uri %}
                                            <div class="row">
                                                {% for ava in list.cover.items_uri %}
                                                    <img src="//{{ ava|replace('%%', '50x50') }}" alt="">
                                                    {{ '</div><div class="row">'|safe if loop.index % 2 == 0 else '' }}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label>
                                            <input type="checkbox" class="form-check-input pl-box" name="for_import[]" value="{{ list.kind }}">
                                            Выбрать
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include '_pl_buttons.html' %}
            </form>
        {% else %}
            <div class="auth-wrapper">
                {% if spotify_auth_url %}
                    <a href="{{ spotify_auth_url }}">Авторизуйтесь в Spotify.</a>
                {% else %}
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.login.label }} {% if form.login.flags.required %}<span class="req">*</span>{% endif %}
                            {{ form.login() }}
                            {% if form.login.errors %}{{ error.list(form.login.errors) }}{% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.password.label }} {% if form.password.flags.required %}<span class="req">*</span>{% endif %}
                            {{ form.password() }}
                            {% if form.password.errors %}{{ error.list(form.password.errors) }}{% endif %}
                        </div>
                        {% if captcha %}
                            <div class="form-group">
                                <img src="{{ captcha.file }}" alt="">
                                {{ form.captcha_answer.label }} {% if form.captcha_answer.flags.required %}<span class="req">*</span>{% endif %}
                                {{ form.captcha_answer() }}
                                {% if form.captcha_answer.errors %}{{ error.list(form.captcha_answer.errors) }}{% endif %}
                                <input type="hidden" name="captcha_key" value="{{ captcha.cp_key }}">
                            </div>
                        {% endif %}
                        <div class="form-group">
                            {{ form.submit(class='btn btn-primary') }}
                        </div>
                    </form>
                {% endif %}
            </div>
        {% endif %}

        {% if progress == 0 %}
            <br><br>
            <h1>Yandex.Music to Spotify migration</h1>
            <div>
                <p>Мини-сервис по переносу ваших плейлистов из Яндекс.Музыки в Spotify.</p>
                <p>Для работы необходимо авторизоваться через OAuth в Spotify и предоставить логин-пароль
                    для яндекса. К сожалению, только так, т.к. API открытого у музыки нет.
                    Логин и пароль нигде не хранится. Вообще нигде(!) и никак(!).
                    Сервис с открытым кодом, который можно посмотреть в <a href="https://github.com/UNREALre/Yandex.Music-2-Spotify" target="_blank">репозитории</a>.</p>
                <p>После авторизации сервис подгрузит все плейлисты с вашей учетной записи Яндекс.Музыки. Выберите те, которые хотите импортировать и начните импорт. Сервис пройдется по всем плейлистам выбранным, создаст их в Spotify, затем выберет все песни, попытается их найти в Spotify и в случае успеха добавить к плейлисту. Все плейлисты в Spotify будут помечены описанием "Yandex.Music", чтобы вы знали откуда они появились.</p>
            </div>
        {% endif %}

    {% endif %}
{% endblock body %}