input[type='text'],
input[type='password'],
input[type='email'],
input[type='phone'] {
    width: 100%;
}

.auth-wrapper {
    width: 400px;
    margin: 0 auto;
}

.main-content-wrapper {
    margin-top: 40px;
}

.actions-wrapper {
    margin-bottom: 40px;
}

.data-cell {
    max-width: 500px;
    overflow: hidden;
}

.req {
    color: red;
}

.progress-title {
    margin-bottom: 10px;
}
.progress {
    margin-bottom: 40px;
}

.confirm-import.top {
    margin-bottom: 40px;
}
.confirm-import.bottom {
    margin: 40px 0;
}

.success, .failure {
    margin-top: 40px;
}
.failure {
    margin-bottom: 20px;
}
.success h5 {
    color: green;
}
.failure h5 {
    color: red;
}